@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(19, 17, 17);
    color: rgb(236, 222, 222);
}

.todo-display {
    height: 90vh;
    width: 80vw;
    border: 1px solid yellow;
    font-size: x-large;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.edit-btn {
    cursor: pointer;
}

.create-new {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 1.5rem;
    width: 60vw;
    cursor: pointer;
}

input {
    font-size: 1.45rem;
    border: none;
    background-color: beige;
}

.modal {
    padding: 1em;
    max-width: 70vw;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
    font-size: 1.45rem;

    /* & > * {
        margin: 0 0 0.5rem 0;
    } */
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.4);
}
